<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nanrailgun.order_service_provider.dao.MallOrderItemMapper">
    <resultMap id="BaseResultMap" type="com.nanrailgun.order_api.entity.MallOrderItem">
        <id column="order_item_id" jdbcType="BIGINT" property="orderItemId"/>
        <result column="order_id" jdbcType="BIGINT" property="orderId"/>
        <result column="goods_id" jdbcType="BIGINT" property="goodsId"/>
        <result column="goods_name" jdbcType="VARCHAR" property="goodsName"/>
        <result column="goods_cover_img" jdbcType="VARCHAR" property="goodsCoverImg"/>
        <result column="selling_price" jdbcType="INTEGER" property="sellingPrice"/>
        <result column="goods_count" jdbcType="INTEGER" property="goodsCount"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        order_item_id, order_id, goods_id, goods_name, goods_cover_img, selling_price, goods_count,
        create_time
    </sql>
    <select id="getMallOrderItemListByOrderIds" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from mall_order_item
        where order_id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>;
    </select>
    <select id="getMallOrderItemListByOrderId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from mall_order_item
        where order_id = #{orderId}
    </select>
    <insert id="insertBatch" parameterType="com.nanrailgun.order_api.entity.MallOrderItem">
        insert into mall_order_item (order_id, goods_id,
        goods_name, goods_cover_img, selling_price,
        goods_count)
        values
        <foreach collection="list" item="orderItem" separator=",">
            (#{orderItem.orderId}, #{orderItem.goodsId},
            #{orderItem.goodsName}, #{orderItem.goodsCoverImg},
            #{orderItem.sellingPrice},
            #{orderItem.goodsCount})
        </foreach>;
    </insert>
</mapper>