<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nanrailgun.user_service_provider.dao.MallUserAddressMapper">
    <resultMap id="BaseResultMap" type="com.nanrailgun.user_api.entity.MallUserAddress">
        <id column="address_id" jdbcType="BIGINT" property="addressId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="user_phone" jdbcType="VARCHAR" property="userPhone"/>
        <result column="default_flag" jdbcType="TINYINT" property="defaultFlag"/>
        <result column="province_name" jdbcType="VARCHAR" property="provinceName"/>
        <result column="city_name" jdbcType="VARCHAR" property="cityName"/>
        <result column="region_name" jdbcType="VARCHAR" property="regionName"/>
        <result column="detail_address" jdbcType="VARCHAR" property="detailAddress"/>
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    address_id, user_id, user_name, user_phone, default_flag, province_name, city_name,
    region_name, detail_address, is_deleted, create_time, update_time
    </sql>

    <insert id="insert" parameterType="com.nanrailgun.user_api.entity.MallUserAddress">
        insert into mall_user_address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="addressId != null">
                address_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="userPhone != null">
                user_phone,
            </if>
            <if test="defaultFlag != null">
                default_flag,
            </if>
            <if test="provinceName != null">
                province_name,
            </if>
            <if test="cityName != null">
                city_name,
            </if>
            <if test="regionName != null">
                region_name,
            </if>
            <if test="detailAddress != null">
                detail_address,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="addressId != null">
                #{addressId},
            </if>
            <if test="userId != null">
                #{userId},
            </if>
            <if test="userName != null">
                #{userName},
            </if>
            <if test="userPhone != null">
                #{userPhone},
            </if>
            <if test="defaultFlag != null">
                #{defaultFlag},
            </if>
            <if test="provinceName != null">
                #{provinceName},
            </if>
            <if test="cityName != null">
                #{cityName},
            </if>
            <if test="regionName != null">
                #{regionName},
            </if>
            <if test="detailAddress != null">
                #{detailAddress},
            </if>
            <if test="isDeleted != null">
                #{isDeleted},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
        </trim>
    </insert>
    <select id="selectAllAddress" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from mall_user_address
        where user_id = #{userId} and is_deleted = 0;
    </select>
    <select id="selectDefaultAddress" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from mall_user_address
        where user_id = #{userId} and is_deleted = 0 and default_flag = 1;
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from mall_user_address
        where address_id = #{addressId} and is_deleted = 0;
    </select>
    <update id="deleteByPrimaryKey">
        update mall_user_address
        set is_deleted = 1
        where address_id = #{addressId};
    </update>
    <update id="updateByPrimaryKey" parameterType="com.nanrailgun.user_api.entity.MallUserAddress">
        update mall_user_address
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="userName != null">
                user_name = #{userName},
            </if>
            <if test="userPhone != null">
                user_phone = #{userPhone},
            </if>
            <if test="defaultFlag != null">
                default_flag = #{defaultFlag},
            </if>
            <if test="provinceName != null">
                province_name = #{provinceName},
            </if>
            <if test="cityName != null">
                city_name = #{cityName},
            </if>
            <if test="regionName != null">
                region_name = #{regionName},
            </if>
            <if test="detailAddress != null">
                detail_address = #{detailAddress},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where address_id = #{addressId};
    </update>
</mapper>